<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <form action="">
        <p>Ten dang nhap: <input type="text" name="username" id="username"></p>
        <p>Mat khau: <input type="password" name="password" id="password"></p>
        <p>Email: <input type="text" name="email" id="email"></p>
        <p>Tuoi: <input type="text" name="age" id="age"></p>
        <button type="button" id="btn">
        <p>Dang ky</p>
    </button>
    </form>
</body>
<script>
    $("#btn").click(function() {
        var username = $("#username").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var age = $("#age").val();
        $.ajax({
            //dia chi api
            url: "/user",
            //method di theo api
            method: "POST",
            // du lieu truyen len
            data: {
                username: username,
                password: password,
                email: email,
                age: age
            }
        }).then((response) => {
            console.log(response);
            if (!response.error) {
                alert(response.message)
            }
        }).catch((err) => {

        });
    })
</script>

</html>